# VS / Rider / VSCode
.vs/
.idea/
.vscode/

# Build
bin/
obj/
out/

# Usuário
*.user
*.rsuser
*.suo

# Logs
*.log

# Configs locais
appsettings.Development.json
appsettings.Local.json

# Docker
*.pid
*.seed
docker-compose.override.yml

# Testes
TestResults/
coverage/

# Sistema
Thumbs.db
.DS_Store
